html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      position:relative;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url('../images/bg_awal2.png') no-repeat 50% 50%;
      background-size: cover;
}
.inst-grids {
		width: 60%;
		margin: 0 auto;
	}
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: crimson;
    background-color: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    color: crimson;
    font-weight: 1000;
    text-decoration: none;
}
span.desc {
    font-size: 0.3em;
    display: block;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
}
.navbar-default .navbar-brand {
    color: crimson;
}

.logo-w3layouts-agileits h1 a {
    font-size: 1.1em;
    color: white;
}
.logo-w3layouts-agileits i.fa {
    color: #76daff;
}
.logo-w3layouts-agileits h1 a {
    font-size: 1em;
}
.logo-w3layouts-agileits h1 a {
    font-size: 0.9em;
}
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      float:none;
      display:inline-block;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgb(0,0,0,0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
.header-text h2 {

    font-size: 40px;
}

.header-text .button {
    margin-top: 30px;
}
nav.black ul {
      background: crimson;
      opacity: 1;

}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: crimson;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: crimson;
      }

      nav.black ul {
            background: crimson;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    z-index: 99999999999;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: crimson;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
.styled-input:nth-child(1),
.styled-input:nth-child(2),
.styled-input:nth-child(3) {
	margin-bottom: 1em;
}
.wthree-form {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
  .contact-form {
  	padding: 7em;
  	flex-basis: 50%;
  	-webkit-flex-basis: 50%;
  }
  .contact-form input[type="submit"] {
	outline: none;
	color: #FFFFFF;
	padding: 0.7em 5em;
	font-size: 16px;
	letter-spacing: 2px;
	margin: 1em 0 0 0;
	-webkit-appearance: none;
	background: #ffcc54;
	border: none;
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-ms-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
}

.contact-form input[type="submit"]:hover {
	background: #191919;
}


.blog-gd-w3ls {
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	padding: 5px;
}
.blog-gd-w3ls img {
	width: 100%;
}
.blog-gd-w3ls:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
}

.blog-gd-w3ls:hover .date-w3 {
	display: block;
	transition: 0.7s all;
	-webkit-transition: 0.7s all;
	-moz-transition: 0.7s all;
	-o-transition: 0.7s all;
	-ms-transition: 0.7s all;
}

h5.title-w3 {
	font-size: 2.8em;
	text-transform: uppercase;
	text-align: left;
	margin: 0em 0 0.7em;
	color: #000;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: inline-block;
}


.date-w3 {
	display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    width: 95%;
    padding: 1.5em;
}

.date-w3 h4 {
	font-size: 1em;
	color: #ffcc54;
	text-transform: capitalize;
	letter-spacing: 1px;
	/* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
	font-weight: 400;
}

.date-w3 a {
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	color: rgba(210, 210, 210, 0.83);
}

.date-w3 a:hover {
	color: #ffcc54;
	text-decoration: none;
}

.w3l-social ul {
	padding: 0;
	margin: 0;
}

.w3l-social ul li {
	display: inline-block;
}

.w3l-social ul li a {
	text-align: center;
}

.w3l-social ul li a.fa {
	margin: 0 2em;
	color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.w3l-social ul li a.fa.fa-facebook:hover {
	color: #3b5998;
}

.w3l-social ul li a.fa.fa-twitter:hover {
	color: #1da1f2;
}

.w3l-social ul li a.fa.fa-google-plus:hover {
	color: #dd4b39;
}

.w3l-social ul li a.fa.fa-instagram:hover {
	color: #e1306c;
}

.w3l-social ul li a.fa.fa-linkedin:hover {
	color: #00a0dc;
}

.w3l-social ul li a:hover,
.w3l-social ul li a:focus {
	text-decoration: none;
}

.w3l-social {
	text-align: center;
	margin-top: 4em;
}
